body {
  font-size: 1.1rem;
  font-family: monospace, sans-serif;
  line-height: 1.6;
  padding: 1rem;
  color: #f0f0f0;
  background-color: #1a1a1a;
}

.Stack {
  margin-top: 1rem;
  margin-left: 1rem;
}

a {
  color: #3aa48f;
}

button {
  background: transparent;
  color: #3aa48f;
  border: 1px solid #3aa48f;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
